.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: calc(10vh + 4rem);
}

.aboutus {
    display: flex;
    flex-direction: column;
    width: 75%;
}

h1 {
    margin: 30px;
    font-size: 5rem;
    text-align: left;
    text-transform: capitalize;
    padding-left: 2em;
    font-family: var(--sans-serif);
}

.paragraphes {
    width: 75%;
    margin: 0 auto;
}

.text {
    margin: 15px;
    font-size: 15px;
}

#cook {
    height: 90vh;
}

.imgResto {
    display: flex;
    justify-content: center;
}

.resto {
    margin: 12px 12px 0 12px;
    height: 35vh;
}