html {
    box-sizing: border-box;
}

body {
    margin: 5px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    width: 75%;
}

h1 {
    margin: 30px;
    font-size: 35px;
    text-align: left;
    padding-left: 2em;
}

.paragraphes {
    width: 75%;
    margin: 0 auto;
}

p {
    margin: 15px;
    font-size: 15px;
}

#cook {
    height: 90vh;
}

.imgResto {
    display: flex;
    justify-content: center;
}

.resto {
    margin: 12px;
    height: 35vh;
}