/* Reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    font-size: 10px;
}

body {
	line-height: 1;
	cursor: default;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    cursor: pointer;
	text-decoration: none;
}

/* Reset end */

/* Variables start */

:root {
    --light: #dddddd;
    --primary: #375a2c;
	--dark: #111111;
	--sans-serif: 'Roboto', sans-serif;
	--title: 'Comfortaa', cursive;
}

/* Variables end */

/* Navbar start */

nav {
	width: 100%;
	position: fixed;
	top: 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
	color: var(--light);
	font-family: var(--sans-serif);
	z-index: 3;
}

.navDiv {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLogo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navLogo p {
	font-size: 3rem;
	font-family: var(--title);
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList span {
	margin: 0 1rem;
	font-size: 2rem;
}

.navList li {
    position: relative;
    list-style-type: none;
    font-size: 2rem;
    z-index: 2;
}


.navList li a {
	padding-bottom: 0.2rem;
	transition: 0.3s ease-in-out;
}

.navList li a::before {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--light);
	top: 100%;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transform-origin: 50% 0%;
	transform: translate3d(0, 3px, 0);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.navList li a::after {
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--light);
	top: 100%;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transform-origin: 50% 0%;
	transform: translate3d(0, 3px, 0);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.navList li a:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.navList li a:hover::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.navList li a::before {
	content: '';
}

.navList li a::after {
	content: '';
	top: calc(100% + 4px);
	width: 70%;
	left: 15%;
}

.navList li a::before,
.navList li a:hover::after {
	transition-delay: 0.1s;
}

.navList li a:hover::before {
	transition-delay: 0s;
}

.burgerToggle {
	display: none;
	background: none;
	border: none;
}

.burgerToggle:active {
	color: var(--third);
}

/* Navbar end*/

/* Footer start */

footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	padding: 5rem 5% 1rem;
	background-color: var(--primary );
	color: var(--light);
}

.mainSectionFooter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2rem;
}

.footerDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: start;
}

.footerDesc h2 {
	width: 100%;
	margin-bottom: 2rem;
	font-size: 3rem;
	font-weight: 700;
	font-family: var(--sans-serif);
}

.footerDesc p {
	font-size: 1.5rem;
	line-height: 1.5;
}

.footerOpenings {
	margin-bottom: 2rem;
}

.footerOpenings h2 {
	margin-bottom: 2rem;
	font-size: 3rem;
	font-family: var(--sans-serif);
	font-weight: 700;
}

.footerOpenings p {
	margin-bottom: 1rem;
	font-size: 2rem;
}

.footerOpenings p:last-of-type {
	margin-bottom: none;
}

.footerAddress p {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	text-transform: capitalize;
}

.footerAddress p:last-of-type {
	margin-bottom: 0;
}

hr {
	width: 50%;
	height: 1px;
	margin: 0 auto;
	color: var(--light);
	background-color: var(--light);
	border: none;
	border-radius: 10px;
}

.footerSocials {
	margin: 3rem 0;
}

.footerSocials a {
	margin-right: 2rem;
}

.footerSocials a:last-of-type {
	margin-right: 0;
}

.footerLinks {
	margin-bottom: 3rem;
	font-size: 1.5rem;
}

.footerLinks a {
	border-bottom: 1px solid transparent;
	transition: 0.3s ease-in-out;
}

.footerLinks a:hover {
	border-bottom: 1px solid var(--light);
}

.footerLinks span {
	margin: 0 1rem;
}

.footerCopyright {
	font-size: 1.3rem;
}

.carrotFooter {
	position: absolute;
	top: 50%;
	right: 5rem;
	transform: translateY(-50%);
}

/* Footer end */

/* Media start */

@media screen and (max-width: 1200px) {
	html {
		font-size: 9px;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 8px;
	}

	.navList span {
		display: none;
	}

	.navList a {
		display: none;
	}

	.burgerToggle {
		display: block;
	}

	.navList.responsive {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navList.responsive span {
		display: inline;
	}

	.navList.responsive li:last-of-type {
		margin-right: 1.5rem;
	}

	.navList.responsive a {
		display: block;
		text-align: left;
	}

	.mainSectionFooter {
		display: flex;
		flex-direction: column;
		margin-bottom: 3rem;
	}

	.footerDesc {
		display: none;
	}

	hr {
		width: 80%;
	}

	.footerLinks {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.footerLinks span {
		display: none;
	}

	.footerLinks a {
		margin-bottom: 1rem;
	}
}

/* Media end*/