/* Reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    font-size: 10px;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    cursor: pointer;
	text-decoration: none;
}

/* Reset end */

/* Variables start */

:root {
    --light: #dddddd;
    --primary: ;
    --secondary: ;
}

/* Variables end */

/* Navbar start */

nav {
	position: relative;
    height: calc(10vh - 2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66875b;
	color: var(--light);
    border-bottom: 2px solid var(--light);
}

.navDiv {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList li {
    position: relative;
    list-style-type: none;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

.navList li:last-of-type {
    margin-right: 0;
}

.navList li a {
	padding-bottom: 0.2rem;
	transition: 0.3s ease-in-out;
}

.navList li a::before {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--light);
	top: 100%;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transform-origin: 50% 0%;
	transform: translate3d(0, 3px, 0);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.navList li a::after {
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--light);
	top: 100%;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transform-origin: 50% 0%;
	transform: translate3d(0, 3px, 0);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.navList li a:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.navList li a:hover::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.navList li a::before {
	content: '';
}

.navList li a::after {
	content: '';
	top: calc(100% + 4px);
	width: 70%;
	left: 15%;
}

.navList li a::before,
.navList li a:hover::after {
	transition-delay: 0.1s;
}

.navList li a:hover::before {
	transition-delay: 0s;
}

.burgerToggle {
	display: none;
	background: none;
	border: none;
}

.burgerToggle:active {
	color: #e9692c;
}

/* Navbar end*/

/* Media start */

@media screen and (max-width: 1200px) {
	html {
		font-size: 9px;
	}
}

@media screen and (max-width: 728px) {
	html {
		font-size: 8px;
	}

	.navList a {
		display: none;
	}

	.burgerToggle {
		display: block;
	}

	.navList.responsive {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navList.responsive li:last-of-type {
		margin-right: 1.5rem;
	}

	.navList.responsive a {
		display: block;
		text-align: left;
	}
}

/* Media end*/