h1 {
    font-size: 5rem;
    font-family: "Roboto";

    margin-bottom: 30px;
}

input {
    border: solid black 1px;

    /* box-shadow: 0px 0px 2px black inset; */

    width: 40vw;
    /* margin-top: 16px; */
    padding-left: 5px;
    height: 2vh;
}

select {
    text-align: center;
    border: solid black 1px;
    width: 40vw;
    height: 2vh;
    /* box-shadow: 0px 0px 2px black inset; */


}

form {
    /* border: 1px yellow solid; */
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

textarea {
    margin-top: 16px;
    ;
    color: gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10vh;
    resize: none;
    font-family: "Roboto";
    box-shadow: 0px 0px 2px black inset;
}

#contactSelect {
    width: 100%;
    height: auto;
    color: gray
}

form :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 4vh;
    background-color: var(--secondary);
    cursor: pointer;
}

.containerContact {
    display: flex;
    flex-direction: row;
    /* border: 2px black solid; */
    margin: calc(10vh + 4rem);
    justify-content: center;
}

.contactForm {
    margin-right: 5%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CSS SMARTPHONE */

@media screen and (max-width: 728px) {
    h2 {
        font-size: calc(var(--title-size)*0.5);
    }

    input {
        width: 100%;
        padding-left: 0;
    }

    /* form :last-child {
        width: 20%;

    } */

    .containerContact {
        display: flex;
        flex-direction: column;
    }

    .contactForm {
        margin: 0;
        height: 500px;
    }

    iframe {
        width: 100%;
        height: 500px;
        margin-top: 42px;
    }

}