h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

p { 
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}

#global {
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

#imgPlates,
#menu {
    justify-content: space-around;
    flex-direction: column;
    padding: 3rem 0;
} 

#imgPlates div{
 justify-content: space-between
}

.plateLign {
    display: flex;
}

.separator {
    border: solid black 8px;  
    border-radius: 10px; 
    width: 60%;
    margin: auto;
    margin-top: 70px;
}

@media (min-width: 320px) and (max-width: 374px){
   
}

@media (min-width: 375px) and (max-width: 424px){
    
}

@media (min-width: 425px) and (max-width: 767px){
    
}

@media (max-width: 767px){
    .separator {
        display: none;
    }
    img{
        width: 100px;
        height: 100px;
    }

    .plate {
        display: flex;
    }

    .plateLign{
        display: inline;
    }
}

@media (min-width: 768px) and (max-width: 768px){
    
}

@media (min-width: 769px) and (max-width: 1023px){   
    
}

@media (width: 1024px){
      
}


