body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 75px;
    text-align: center;
    
    padding: 20px;
    font-style: oblique;
    font-weight: bolder;
    
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: underline brown;
}

p { 
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

#menuAndForks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#global {
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto; 
}

#imgPlates {
    padding: 3rem 0;
} 

.plateLine {
    display: flex;
    justify-content: space-between;
}

.plate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.separator {
    border: solid black 8px;  
    border-radius: 10px; 
    width: 60%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.imgRecipe {
    
    box-shadow: 9px 5px 5px black;
}

.price {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.plateName {
    font-weight: bolder;
}

.fork {
    display: block;
    margin-top: 15px;
    width: 75px;
    height: 75px;
}

#forkTwo {
    transform: scaleX(-1);
}

#bottomImages {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
}

.imagesRestaurant {
    border: solid 5px #66875b;
    box-shadow: 9px 5px 5px black;
}

@media screen and (max-width: 1200px) {
    .plate img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .plate img {
        width: 100px;
        height: 100px;
    }

    .plateLine {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline;
    }

    #bottomImages {
        display: none;
    }
}

