body {
    padding: 0;
    margin: 0;
}

#global {
    width: 90%;
    margin: calc(10vh + 4rem) auto;
}

#imgPlates {
    padding: 3rem 0;
}

#menuAndForks {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 7.5rem;
    font-family: var(--sans-serif);
    text-align: center;
    padding: 2rem;    
}

.fork {
    display: block;
    margin-top: 15px;
    width: 75px;
    height: 75px;
}

#forkTwo {
    transform: scaleX(-1);
}

.title {
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline brown;
}

.separator {
    border: solid black 8px;  
    border-radius: 10px; 
    width: 60%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.text { 
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.plateLine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: baseline;
}

.plate {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: none;
    border: 1px solid var(--dark);
}

.plateName {
    font-size: 2.3rem;
    max-width: 300px;
}

.price {
    color: var(--primary);
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--sans-serif);
}

#bottomImages {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.imagesRestaurant {
    border: solid 4px #66875b;
    box-shadow: 9px 5px 5px var(--dark);
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 5;
    overflow: auto;
}

.modalInner {
    width: 80%;
    margin: 20% auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--light);
}

.modalTitle {
    font-size: 3rem;
    text-align: center;
}

.modalImg {
    width: 30%;
}

@media screen and (max-width: 1200px) {

    .plate img {
        width: 200px;
        height: 200px;
    }

    .plateName {
        max-width: 200px;
    }

    .imagesRestaurant {
        width: 200px;
        height: 166px;
        border: 2px solid var(--primary);
        box-shadow: none;
    }
    
    .imgRecipe {
        box-shadow: none;
    }
    .separator {
        border: solid black 4px;  
    }

    #imgPlates {
        padding: 3rem 0 6rem;
    }
}

@media screen and (max-width: 768px) {
    
    .plateName {
        max-width: 100px;
    }

    .plate img {
        width: 100px;
        height: 100px;
    }

    .separator {
        border: solid black 2px;  
    }

    #lastSeparator {
        display: none;
    }

    #bottomImages {
        display: none;
    }
}

